/dist/
src/resources/ben-affleck.png
src/resources/cat.png
src/resources/chart.png
src/resources/dark-theme.css
src/resources/eruro.png
src/resources/flag.png
src/resources/group.png
src/resources/ic_usr.png
src/resources/icons8_Bill_50px_2.png
src/resources/icons8_Block_50px_1.png
src/resources/icons8_Broccoli_64px_2.png
src/resources/icons8_Car_52px_2.png
src/resources/icons8_Play_48px.png
src/resources/icons8_Play_Button_50px.png
src/resources/icons8_Shopping_Cart_50px_2.png
src/resources/logo.png
src/resources/profile-adam-levine.png
src/resources/profile-james-marsden.png
src/resources/time.png
src/boutique/img/banana.png
src/boutique/img/cherry.png
src/boutique/img/coconut.png
src/boutique/img/grapes.png
src/boutique/img/ic_cart.png
src/boutique/img/ic_delivery.png
src/boutique/img/ic_stopwatch.png
src/boutique/img/kiwi.png
src/boutique/img/mango.png
src/boutique/img/orange.png
src/boutique/img/peach.png
src/boutique/img/strawberry.png
src/boutique/img/watermelon.png
src/evenement/img/banana.png
src/evenement/img/cherry.png
src/evenement/img/coconut.png
src/evenement/img/grapes.png
src/evenement/img/ic_cart.png
src/evenement/img/ic_delivery.png
src/evenement/img/ic_stopwatch.png
src/evenement/img/kiwi.png
src/evenement/img/mango.png
src/evenement/img/orange.png
src/evenement/img/peach.png
src/evenement/img/strawberry.png
src/evenement/img/watermelon.png
